<%= erb :header, :locals => {:title => "My Profile", :gaid => CONF["ga"]["wpid"], :gadomain => CONF["ga"]["domain"]} %>
<p><a href="/logout">Log out</a></p>
<table>
 <tr><td>Username:</td><td><%= @crowd_principal[:name] %></td></tr>
 <tr><td>Given Name:</td><td><%= @crowd_principal[:attributes][:givenName] %></td></tr>
 <tr><td>Last Name:</td><td><%= @crowd_principal[:attributes][:sn] %></td></tr>
 <tr><td>Email Address:</td><td><%= @crowd_principal[:attributes][:mail] %></td></tr>
</table>
<p>Services available:</p>
<ul>
 <li><a href="http://issues.bob.sh/jira">Jira</a></li>
 <li><a href="http://id.bob.sh/openid">OpenID provider</a></li>
 <li><a href="http://bob.sh/">Bob.sh Drupal Site</a></li>
</ul>
<%= erb :footer %>
